
body{
    background-color: #e7e7e7;
    font-size: 14px;
    line-height: 1.25;
    font-weight: normal;/*100-thin 300-light 400-normal 500-medium 600--semi-bold 700-bold 800-extra-bold 900-black */
    font-family:  'Roboto', sans-serif;
    color: #232323;
    margin: 11px;
    width: 97%;
    border: 1px solid #e7e7e7;
}
div{
    float: left;
    margin-left: 34px;
}
.item{
    background-color: white;
    width: 83%;
    height: 55px;
    margin-left: 78px;
    margin-bottom: 20px;
}
img{
    padding: 30px;
    margin-top: -29px;
    margin-left: -32px;
}
.shirt1{
    text-align: center;
    width: 18%;
    margin-left: 51px;
    background-color: #f2f2f2;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
    color: black|inherit|white;
}
.shirt2 {
    text-align: center;
    width: 18%;
    margin-left: 51px;
    background-color: #f2f2f2;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
}
.shirt3 {
    text-align: center;
    width: 18%;
    margin-left: 51px;
    margin-top: -13px;
    background-color: #f2f2f2;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
}
.shirt4{
    text-align: center;
    width: 18%;
    margin-left: 51px;
    margin-top: -13px;
    background-color: #f2f2f2;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
}
.shirt5 {
    text-align: center;
    width: 18%;
    margin-left: 51px;
    background-color: #f2f2f2;
    margin-top: 46px;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
}
.shirt6 {
    text-align: center;
    width: 18%;
    margin-left: 51px ;
    background-color: #f2f2f2;
    margin-top: 47px;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
}
.shirt7 {
    text-align: center;
    width: 18%;
    margin-left: 51px;
    background-color: #f2f2f2;
    margin-top: 47px;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
}
.shirt8 {
    text-align: center;
    width: 18%;
    margin-left: 51px;
    background-color: #f2f2f2;
    margin-top: 46px;
    background-image: linear-gradient(#f2f2f2 90%, white -1%, black -39%);
}






