body{
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    margin: auto;
}
p {
    font-size: 14px;
    line-height: 1.25;
}
ul{
    font-size: 14px;
    line-height: 1.25;
}
