*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    /* 100-thin 300-light 400-normal 500-medium 600-semi-bold 700-bold 800-extra-bold 900-black */
    font-family: 'Roboto', sans-serif;
    color: #232323;
}
img{
    width: 100%;
    height: 268px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.section{
    float: left;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
    float: none;
}
.content{
    float: left;
    width: 66.67%;
    margin-left: 8px;
    margin-right: -8px;
}
.sidebar {
    float: left;
    width: 33.33%;
    padding-left: 43px;
    padding-right: 15px;
    margin-right: -5px;
    margin-left: 5px;
}

/* xong layout */
.header{
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    padding: 30px 0;
}
.logo{
    float: left;
    width: 30%;
    margin-left: 14px;
}
.top-links{
    float: right;
    width: 30%;
    margin-right: 5px;
}
.top-links li{
    float: right;
    list-style: none;
    padding: 14px;
}
.nav{
    background-color: #ffffff;
    padding: 20px 0;
}
.menu li{
    float: left;
    list-style: none;
    margin-left: 12px;
}
.menu .last-item{
    float: right;
    margin-right: 13px;
}
.main{
    padding-top: 30px;
}
.body-content{
    background-color: #ffffff;
    float: left;
    width: 100%;
    padding: 61px;
    margin-bottom: 20px;
    margin-left: 5px;
}
.block{
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
}
.black-block{
    background-color: #333333;
    color: white;
}
input{
    padding: 20px;
    margin-left: 2px;
    width: 100%;
    margin-top:15px;
}
a {
   color: red;
}
.last-item{
    padding-left: 10px;
}
i{
    background-color: #e7e7e7;
    text-align: center;
    width: 13%;
    padding: 4px;
    margin-left: 2px;
    margin-right: 14px;
    margin-bottom: 16px;
}
